<button class="reload btn">Reload</button>

<% if (images.length == 0 ) { %>
	<div class="alert">
		<h3>The gallery is still empty</h3>
	</div>
<% } else { %>

	<h3>There is <%= images.length %> images</h3>

	<ul class="thumbnails">
		<% _.each(images, function(image) { %>
			<li class="span3">
				<div class="thumbnail">
					<img src="/get/<%= image.get('id') %>" alt="<%= image.get('name') %>">
					<h5><%= image.get('name') %></h5>
					<p><strong>Tags:</strong><%= image.get_tags_with_anchor() %></p>
				</div>
			</li>
		<% }); %>
	</ul>
<% } %>